body {
  background-color: #ECDCC9;
  color: white;
}

p {
  margin: 1rem auto;
  width: 50vw;
  padding: 1rem;
  background-color: #4D243D;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(143, 138, 129);
}
